@import "compass";

	// ----------------------------------------------
	// definitions for basic color palette

		$primary:red;
		$secondary:blue;

		$black:#000;
		$white:#fff;

		.cta-popup{

			.close{
				cursor: pointer;
				position: absolute;
				left: 0;
				top: 0;
				width: 20px;
				height: 20px;
				text-align: center;
				color: $secondary;

				&:hover{color: $primary;}
			}

		}

	// ----------------------------------------------
	// Overlay Styles
		.cta-popup.overlay{
			position: fixed;
			width: 100%;
			height: 100%;
			z-index: -1;
			top: 0;
			left: 0;
			opacity: 0;

			.overlay{
				position: absolute;
				background-color: rgba($black, 0.8);
				width: 100%;
				height: 100%;
				z-index: 100;
			}

			.content{
				@include box-shadow($black 2px 2px 10px);
				@include transform(translate(-50%,-50%));
				position: absolute;
				z-index: 200;
				width: 400px;
				padding: 40px 20px;
				text-align: center;
				background: #fff;
				top:50%;
				left: 50%;
			}

			&.active{
  				@include single-transition(opacity, 0.5s, ease-in-out);
				z-index: 100000;
				opacity: 1;
			}

		}

	// ----------------------------------------------
	// Slider Styles
		.cta-popup.slider{
			@include single-transition(right, 1s, ease-in-out);
			position: fixed;
			width: 400px;
			padding: 40px 20px;
			text-align: center;
			background: #ececec;
			right: -500px;
			bottom: 100px;
			box-shadow: 0 0 5px rgba(#000,0.5);

			&.active{
				right:0;
			}
		}