.cta-popup .close { cursor: pointer; position: absolute; left: 0; top: 0; width: 20px; height: 20px; text-align: center; color: blue; }
.cta-popup .close:hover { color: red; }

.cta-popup.slider { -moz-transition: right 1s ease-in-out; -o-transition: right 1s ease-in-out; -webkit-transition: right 1s ease-in-out; transition: right 1s ease-in-out; position: fixed; width: 400px; padding: 40px 20px; text-align: center; background: #ececec; right: -500px; bottom: 100px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
.cta-popup.slider.active { right: 0; }
